* {
    padding: 5px;
    background-color: beige;
    color: #131333d9;
}

.titles {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.main-page {
    text-align: center;
    font-size: 2em;
    margin-top: 20px;
}

.images {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 300px;
}

.index-list {
    padding: 75px 100px;
    text-align: center;
    margin: 0 20px;;
}

.list-item {
    display: inline-block;
    margin: 10px 0px;
    border-color: black;
    border: 1px solid black;
    width: 300px;
    height: 200px;
    text-align: center;
    text-align: middle;
    background-color: lightgray;
    padding: 10px;
}

.list-item a {
    background-color: transparent;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding-top: 75px;
}

ul a {
    margin: 75px;
}